*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* style header Section */
.header{
    background-color: rgb(26, 197, 189);
    position: sticky;
    top: 0;
}

.container{
    max-width: 85%;
    padding-inline: 15px;
    margin: auto;
    padding-block: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 10px;
    align-items: center;
}
.logo div img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: top;
}

.logo h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.nav-list li a:hover{
    color: rgb(214, 131, 6);
    transform: scale(1.1);
}

.nav-list li button{
    background: none;
    border: none;
    cursor: pointer;
}

.nav-list li button i{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    background: none;
    
}

.first-section{
    background-image: url(img1.png);
    min-height: 100%;
}

.second-section{
    background-image: url(img2.png);
    min-height: 400px;
}

.third-section{
    background-image: url(img3.png);
    min-height: 400px;
}

.forth-section{
    background-image: url(img4.png);
    min-height: 400px;
}

.first-section,
.second-section,
.third-section,
.forth-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.first-section,
.second-section,
.third-section,
.forth-section:hover{
    transition: calc(0);
    opacity: 1;
}

.ptext{
    top: 40%;
    width: 80%;
    position: absolute;
    text-align: center;
    padding: 20px;
    font-size: 2vw;
    margin-left: 80px;
    background: rgba(0,0,0,0.4);
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textBg{
    line-height: 1.5;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    
}

  
.section-bg{
    padding: 50px 80px;
    text-align: center;
    background: rgba(0,0,0,0.9);
    color: white;
    
}

